* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.6px;
  color: #ffffff
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.4px;
  color: #e43c4b;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #272727;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  color : #1e3656;
}

.Banner {
  background: url('./assets/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: Center;
  justify-content: center;
}

.Navbar {
  position: absolute;
  top: 3%;;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Navbar ul {
  list-style-type: none;
  display: flex;
  width: 86%;
  justify-content: space-between;
}
.Navbar li {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 20px;;
}
body{
  height: 1500px;
}

.subBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.subBanner_left{
  display: flex;
  height: 35%;
  align-items: flex-end;
}
.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}