* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #ffffff
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #e43c4b;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #272727;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #272727;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #413d3d
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  color : #1e3656;
}
.caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7c7c7c;
  padding-top: 2%;;
}
.Banner {
  background: url('./assets/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 87.9vh;
  display: flex;
  align-items: Center;
  justify-content: center;
}

.Navbar {
  position: absolute;
  top: 3%;;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Navbar ul {
  list-style-type: none;
  display: flex;
  width: 86%;
  justify-content: space-between;
}
.Navbar li {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 20px;;
}

.subBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 55%;
}

.subBanner_left{
  display: flex;
  height: 40%;
  align-items: center;
  padding-top: 3%;
}
.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37%;
}

.mainBody {
  background-color: #f1faef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  box-shadow: 0px  -1px 1px 1px#d8d8d8;
}
.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}

.innerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%;
  height: 70%;
  padding-bottom: 5%;
}

.image {
  height: 200px;
  width: 200px;
  margin-top: 10%;
  box-shadow: 0px 0px 30px #bebbbb;
}

.mainBottom {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px  2px 1px 1px#d8d8d8;
}

.imageRow {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.singleImg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleImg img {
  margin-bottom: 5%;
}


.newsLetter{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subForm {
  margin-top: 2%;
  margin-right:10%;
}
.subButton {
  background-color: #1e3656;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 0;
  height: 70px;
  width: 200px;
  cursor: pointer;
  position: absolute;
  left: 55%;
}
.subButton:focus{
  outline: 0;
}
.subInput {
  height: 65px;
  width: 400px;
  color : #1e3656;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 20px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color : #ffffff;
  background-color: #1e3656;
  height: 30vh;
}