* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.6px;
  color: #ffffff
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.4px;
  color: #e43c4b;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #272727;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  color : #1e3656;
}

.Banner {
  background: url('./assets/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 87.9vh;
  display: flex;
  align-items: Center;
  justify-content: center;
}

.Navbar {
  position: absolute;
  top: 3%;;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Navbar ul {
  list-style-type: none;
  display: flex;
  width: 86%;
  justify-content: space-between;
}
.Navbar li {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 20px;;
}
body{
  height: 2000px;
}

.subBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 55%;
}

.subBanner_left{
  display: flex;
  height: 40%;
  align-items: center;
  padding-top: 3%;
}
.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37%;
}

.mainBody {
  background-color: #f1faef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  box-shadow: 0px  -1px 1px 1px#d8d8d8;
}
.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}

.innerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%;
  height: 70%;
  padding-bottom: 5%;
}

.image {
  height: 200px;
  width: 200px;
  margin-top: 10%;
  box-shadow: 0px 0px 30px #bebbbb;
}